<<<<<<< HEAD
<h1>ユーザー編集</h1>
=======
<h1>プロフィール編集</h1>
>>>>>>> user-profile

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
        
        <%= f.label :name %>
<<<<<<< HEAD
        <%= f.name :name, class: 'form-control' %>
=======
        <%= f.text_field :name, class: 'form-control' %>
>>>>>>> user-profile
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
<<<<<<< HEAD
        <%= f.label :area %>
        <%= f.area :area, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
=======
        <%= f.label :age %>
        <%= f.text_field :age, class: 'form-control' %>
        
        <%= f.label :area %>
        <%= f.text_field :area, class: 'form-control' %>
>>>>>>> user-profile
        
        <%= f.submit "Profile Update", class: "btn btn-primary" %>
        
        <% end %>
        
<<<<<<< HEAD
        <%= link_to 'Back', users_path %>
        
=======
        <%= link_to 'Back', users_path %> 
>>>>>>> user-profile
    </div>
</div>