
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <% #ユーザーの詳細画面 %>
            <h1>
                <% #Gravatarサービスより引用 %>
                <%= gravatar_for @user %>
                
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    
    <div class="col-md-8">
        
        <% #ログインしていればフォローフォームをレンダリング　%>
        <%= render 'follow_form' if logged_in? %>
        
        <% if @user.microposts.any? %>
        <h3>Microposts ( <%= @user.microposts.count %> )</h3>
        <ol class="microposts"><%= render @microposts %></ol>
        <% end %>
    </div>
</div>

<% #ユーザーの詳細画面 %>
<h1>
    <% #Gravatarサービスより引用 %>
    <%= gravatar_for @user %>
    <br>
    <%= @user.name %>
</h1>
<h3>
    <div class="profile">
        
        <span class="label label-info">Age:<%= @user.age %></span>
        <br>
        <span class="label label-info">Area:<%= @user.area %></span>
        <br>
        <br>
        <%= link_to "Followings", followings_user_path %>:(<%= @user.following_relationships.count %>)
        <%= link_to "Followers ", followers_user_path %>:(<%= @user.follower_relationships.count %>)
        <br>
        
        <%= link_to 'プロフィール編集', edit_user_path %>
    </div>
</h3>
